.project-card-container {
    perspective: 800px;
}

.project-card {

    padding: 1rem;
    background-color: #0F0F0F;
    border-radius: 15px;
    width: 260px;
    height: 290px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .project-image {
        height: 180px;
        border-radius: 8px;
        object-fit: cover;
    }

    .project-details {
        display: flex;
        flex-direction: column;

        .project-name {
            font-weight: 550;
            margin: 0.5rem 0px
        }

        .project-description {
            font-size: 14px;
            color: #b3b3b3;
        }
    }
}