<pre class="text-center leading-[1em] text-[14px] pt-10 text-[#858589]">
                 +++++++++-                  
          ++++++++++++++++++-                
        ++++++++++++++++++++++               
        +++++++++++++++++++++++              
        +++++++++++++++++++++++-             
       -+++++#################++-            
       -+########################+           
       ##########################+-++++      
      +###########++++++++########+++++++    
      +####++++++##################++++++    
    --++###########++++--++++#######++++     
-+###+######++++++++++-++##+-+++++##+++      
-++##++++++++++++++++-+####+--++++#++        
    -+++++++++++------++++#+-+++++++         
    ++++++++++++++---------+++++++++         
   ##+++++++++++++++----+++++++-++++++       
  +##++++++++++++-+++------------++++##+     
  ++#+++++++--------------------+---++#+#    
  -+#++++++--++--------.-------+...-+++#-.   
  -+##++++++++-----.......----....+###+#+++-.
  #####++--++----.--..------.....++##+##+++++
.-######++--++++++-------......--+#+++#++++++
.-##################++-......---+#+#++#+#++++
</pre>