<header class="flex justify-between items-center">
    <a routerLink="/" class="font-mono font-bold text-sm">sltcestloic.dev</a>
    <div class="flex gap-5 items-center">
        <div class="flex gap-3">
            <a class="flex" href="https://github.com/sltcestloic" target="_blank">
                <ng-icon name="octMarkGithub"></ng-icon>
            </a>
            <a class="flex" href="https://twitter.com/sltcestloic" target="_blank">
                <ng-icon name="bootstrapTwitterX"></ng-icon>
            </a>
        </div>
    </div>
</header>
