<div class="home-page">
    <div class="cards-container" *ngIf="!isMobile">
        <project-card ProjectName="Bet Bot" ProjectDescription="Sports betting on discord with virtual currency"
            ProjectImage="assets/images/bet-bot.png" ProjectLink="https://bet-bot.sltcestloic.dev"></project-card>

        <project-card ProjectName="sltcestloic.dev" ProjectDescription="Personal website, digital garden"
            ProjectImage="assets/images/ascii-squirrel.png"></project-card>

        <project-card ProjectName="MDG Dashboard" ProjectDescription="Analytics dashboard for Solana wallets and bots"
            ProjectLink="https://mdg-dashboard.sltcestloic.dev"></project-card>
    </div>
    <div class="no-mobile" *ngIf="isMobile">
        <span style="margin-bottom: 40px;">J'ai pas encore fait la vue mobile voila désolé mais faut regarder sur
            pc</span>
        <span>Ci joint photo de chien pour compenser</span>
        <img src="assets/images/toutou.jpg" alt="">
    </div>
</div>