<div class="home-page">

    <header class="flex justify-between items-center select-none">
        <a routerLink="/" class="font-bold text-sm">sltcestloic.dev</a>
        <div class="flex gap-5 items-center">
            <a routerLink="/portal" class="text-sm hover:font-bold">portal</a>
        </div>
    </header>

    <div class="py-10">
        <squirrel></squirrel>
    </div>

    <p class="text-[#858589] text-center select-none mb-4">There is no portfolio, I love you</p>

    <div class="separator"></div>

    <nav class="flex justify-between items-center select-none py-3">
        <div class="nav-item text-lg flex items-center gap-2">
            <p class="braces">[</p>
            <a routerLink="/posts">posts</a>
            <p class="braces">]</p>
        </div>
        <div class="nav-item text-lg flex items-center gap-2">
            <p class="braces">[</p>
            <a routerLink="/thoughts">thoughts</a>
            <p class="braces">]</p>
        </div>
        <div class="nav-item text-lg flex items-center gap-2">
            <p class="braces">[</p>
            <a routerLink="/library">library</a>
            <p class="braces">]</p>
        </div>
    </nav>

    <div class="separator"></div>
</div>