<div class="home-page">
    <nav class="flex justify-between items-center select-none">
        <a routerLink="/" class="font-bold text-sm">sltcestloic.dev</a>
        <div class="flex gap-5 items-center">
            <a routerLink="/portal" class="text-sm hover:font-bold">portal</a>
        </div>
    </nav>
    <pre class="text-center leading-[1em] text-[14px] pt-10">                                                     
                                             
                 +++++++++-                  
          ++++++++++++++++++-                
        ++++++++++++++++++++++               
        +++++++++++++++++++++++              
        +++++++++++++++++++++++-             
       -+++++#################++-            
       -+########################+           
       ##########################+-++++      
      +###########++++++++########+++++++    
      +####++++++##################++++++    
    --++###########++++--++++#######++++     
-+###+######++++++++++-++##+-+++++##+++      
-++##++++++++++++++++-+####+--++++#++        
    -+++++++++++------++++#+-+++++++         
    ++++++++++++++---------+++++++++         
   ##+++++++++++++++----+++++++-++++++       
  +##++++++++++++-+++------------++++##+     
  ++#+++++++--------------------+---++#+#    
  -+#++++++--++--------.-------+...-+++#-.   
  -+##++++++++-----.......----....+###+#+++-.
  #####++--++----.--..------.....++##+##+++++
.-######++--++++++-------......--+#+++#++++++
.-##################++-......---+#+#++#+#++++
    </pre>
</div>