.app-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cest-le-chantier-ou-quoi-lequipe {
        user-select: none;
        font-size: 150px;
    }
}