.project-card-container {
    perspective: 800px;

    &.clickable {
        cursor: pointer;
    }

    .project-card {

        padding: 1rem;
        border-radius: 15px;
        width: 180px;
        height: 220px;
        background-color: #0F0F0F;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        user-select: none;

        .project-image {
            height: 100px;
            border-radius: 8px;
            object-fit: cover;
        }

        .project-details {
            display: flex;
            flex-direction: column;

            .project-name {
                font-weight: 550;
                margin: 0.5rem 0px;
                font-size: 14px;
            }

            .project-description {
                font-size: 12px;
                color: #b3b3b3;
            }
        }
    }
}