<pre class="text-center leading-[1em] text-[#858589] select-none" style="font-size: var(--squirrel-font-size, 14px)">
                 +++++++++-                  
          ++++++++++++++++++-                
        ++++++++++++++++++++++               
        +++++++++++++++++++++++              
        +++++++++++++++++++++++-             
       -+++++#################++-            
       -+########################+           
       ##########################+-++++      
      +###########++++++++########+++++++    
      +####++++++##################++++++    
    --++###########++++--++++#######++++     
-+###+######++++++++++-++##+-+++++##+++      
-++##++++++++++++++++-+####+--++++#++        
    -+++++++++++------++++#+-+++++++         
    ++++++++++++++---------+++++++++         
   ##+++++++++++++++----+++++++-++++++       
  +##++++++++++++-+++------------++++##+     
  ++#+++++++--------------------+---++#+#    
  -+#++++++--++--------.-------+...-+++#-.   
  -+##++++++++-----.......----....+###+#+++-.
  #####++--++----.--..------.....++##+##+++++
.-######++--++++++-------......--+#+++#++++++
.-##################++-......---+#+#++#+#++++
</pre>
