@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #09090B;
    --background-color-accent: #111820;
    --text-color-primary: #d4d4d8;
    --text-color-secondary: #A1A1AA;
    --border-color: #27272A;
    --slider-color: #272629;
    --mdc-dialog-container-color: transparent;
}

html, body {
    height: 100%;
}

body {
    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: var(--background-color);
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--slider-color);
        border-radius: 10px;
    }
}